.timeSpansContainer {
  display: flex;
  top: 0;
  position: sticky;
  z-index: 10;
}

.oneHourSpan {
  flex-shrink: 0;
  height: 2rem;
  background: linear-gradient(
    90deg,
    rgb(224, 223, 238) 0%,
    rgb(255, 255, 255) 100%
  );
}
