.resizeable {
  background-color: rgb(238, 242, 255);
  border: 1px, solid, hwb(231 9% 75% / 0.757);
  /* resize: horizontal; */
  min-height: 2rem;
  /* resize: both; */
  border-radius: 0.25rem;
  position: relative;
  overflow: hidden;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.handle {
  height: 100%;
  width: 0.5rem;
  position: absolute;
  cursor: col-resize;
  background-color: hwb(231 9% 75% / 0.757);
}
.leftHandle {
  left: 0px;
}
.rightHandle {
  right: 0px;
}
.body {
  /* background-color: aqua; */
  margin-left: 1rem;
  margin-right: 1rem;
  height: 100%;
}
