.row {
  width: 100%;
  position: relative;
  display: flex;
  /* margin: 0.5rem 0rem; */
  background-color: white;
  /* border: 1px solid green; */
  /* padding: 0.25rem; */

  border-bottom: 2px solid hsla(0, 0%, 50%, 0.1);
}
.firstColumn {
  border-right: 2px solid rgba(128, 128, 128, 0.2);
  padding: 0.5rem;
  position: sticky;
  left: 0;
  z-index: 5;
  background-color: white;
}
