*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  background-color: rgb(232, 237, 250);
  padding: 1rem;

  border-radius: 0.5rem;
}
.scrollContainer {
  overflow: auto;
  border: 1px solid rgb(162, 168, 216);
  height: 400px;
  position: static;
}
.contentContainer {
  background-color: #ffffff95;
  padding-bottom: 1rem;
  width: fit-content;
}
